<%- include('../partials/header') %>


      <img src="../images/about.jpg" alt="My Image">
      <h1><%=title%></h1>
      <p>This is my about Page, shopping has been therapeutic activity lately for me.</p>    
      

<%- include('../partials/footer') %>
