<%- include('../partials/header') %>


      <img src="../images/contact.jpg" alt="My Image">
      <h1><%=title%></h1>
      <p>This is my contacts page, my name is Han Moges, i am 29 years old and is from ethiopia.</p>    

<%- include('../partials/footer') %>