<%- include('../partials/header') %>

<img src="../images/index.jpg" alt="My Image">

      <h1><%=title%></h1>
      
      <p>This is the Home Page, where makeUp is something i like to do on my free time.</p>    


<%- include('../partials/footer') %>
